body   {

margin: 0;
overflow: hidden;
background: #000;

#contenedor-escena{
position: absolute;
top: 20px;
left: 20px;
padding: 20px 20px;
background: Orgba(64, 64, 128, 0.6);
color: cyan;
font-family: sans-serif;
font-size: 14px;


}

}